body {
    background-image: url("fondo.jpg")
  }

  nav.enlinea {
    position: fixed;
    text-align: center;
  }
  li {
    display: inline;
    color: white;
    font-size: 3em;
    margin: 10px;
}
  ul {
    background-color: rgb(94, 14, 116);
 }
  a {
    color: white;
}
  h2 {
    text-align: center;
}
  img.smaller {
height: 200px;
width: 200px;
}
 img.midsize {
  height: 400px;
  width: 400px;
 }
 img.bigsize {
  height: 600px;
  width: 600px;
  float: left;
 }
  p {
    font-size: 1.5em;
    color: white;
}
  h2, h3 {
    font-size: 2em;
    color: white;
}
label {
  color: white;
  font-size: 2em;
}
figcaption {
  color: white;
  font-size: 3em;
  align: right;
}
.inline {
display: block;

}
img * p {
  height: 600px;
  width: 600px; 
}
img.bigsize2 {
  height: 600px;
  width: 600px;
  float: left;
  display: block;
 }
